@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: 'NexaHeavy';
    src: url(../fonts/Nexa-Heavy.ttf);
    font-weight: bolder;
}
div.blogOutput {
    width: 60vw;
    margin: 0px auto;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    color: #eee;
    .post-info {
        margin-block: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 15px;
        .value {
            color: #999;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-block: 10px;
        font-family: 'NexaHeavy'!important;
    }
    div.content {
        font-family: Arial;
    }
}
div.blogList {
    width: 60vw;
    margin: 0px auto;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    .blogLi {
        a {
            text-decoration: none;
        }
        .blogContainer {
            color: #eee;
            padding: 10px 30px 30px 30px!important;
            background-color: #1d1e1f;
            border-radius: 10px;
            margin-bottom: 20px;
            h1 {
                margin-block: 10px;
                font-family: 'NexaHeavy';
            }
            .post-info {
                margin-block: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-left: 15px;
                .value {
                    color: #999;
                }
            }
            .short-desc {
                font-family: Arial;
                display: inline-block;
                margin: 0px;
                padding: 0px;
                color: #ddd;
            }
            /* .short-desc::after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 20px;
                background-image: linear-gradient(to right, #00000000, #1d1e1f);
                background-size: 30px;
                background-repeat: no-repeat;
                transform: translateX(-27px);
            } */
        }
    }
}
.content {
    
}